# Dependencies
node_modules/

# Environment variables
.env

# IDE files
.vscode/

# Logs
*.log

# Archive folder
archive/

# Temporary files
tmp/*

# Built binaries
bin/*

uploads/*
backups/*

!.gitkeep

*.gz